INCLUDE("app_common.cfg");
#include "app.h"

DOMAIN(TDOM_APP) {
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, TMIN_APP_TPRI + 1, STACK_SIZE, NULL });
EV3_CRE_CYC(WATCHDOG_TASK, { TA_STA, 0, watchdog_task, 1000, 0});
}

ATT_MOD("app.o");

